!!! 5
html(class="no-js")
	head
		title= title
		- var namespaces = namespaces == null ? [] : namespaces;
		!{ renderStyleTags.apply(this, namespaces) }
		!{ renderScriptTags.apply(this, namespaces) }
	body!= body
		div#enable-js
			h1 Please enable JavaScript
			p JavaScript must be enabled to use Factoid