.multi-form-editor {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;

  & div {
    border: 1px solid black;
  }


}

.editor-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.site-logo {
  display: flex;
  flex-direction: row;
  font-size: 3em;

  & .logo {
    font-size: 12em;
  }
}

.editor-stepper {
  height: 5%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-view {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editor-context {
  width: 25%;
  z-index: 1;
  opacity: 1;
}

.editor-toolbar {
  display: flex;
  flex-direction: row;
  height: 5vh;
  z-index: 1;
}

.editor-view-panel {
  & .editor {
    height: 85vh !important;
    width: 100% !important;
  }
}

.form-view-panel {
  height: 85vh;
  width: 100%;
}

.text-entry-view-panel {
  height: 85vh;
  width: 100%;
}

.multi-form-graph {
  height: 100%;
  width: 100%;
  z-index: 0;
}
