.accordion {
  position: relative;
  max-width: 75%;
}

.accordion-item {
  padding: 1em 0.5em;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.accordion p {
  margin: 0;
}

.accordion-item-header {
  position: relative;
}

.accordion-item-header:hover {
  cursor: pointer;
}

.accordion-item-header-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.accordion .accordion-item-content {
  padding: 0 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.accordion .accordion-item.open .accordion-item-header {
  margin-bottom: 15px;
}

.accordion .accordion-item.open .accordion-item-content {
  max-height: 1000px;
  opacity: 1;
}