.accordion {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.accordion-item {
  padding: 1em 0.5em;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.accordion-item-header {
  position: relative;
}

.accordion-item-header .accordion-item-header-title {
  margin: 0;
  max-width: 90%;
}

.accordion-item-header:hover {
  cursor: pointer;
}

.accordion-item-header-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.accordion .accordion-item-content {
  padding: 0 1em;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  & p {
    color: #000;
  }

  & ul {
    margin-top: 0;
  }

  & li {
    margin: 0;
  }
}

.accordion .accordion-item .accordion-item-header.open {
  margin-bottom: 15px;
}

.accordion .accordion-item .accordion-item-header.open + .accordion-item-content {
  max-height: 2000px;
  opacity: 1;
}

@media (max-width: 750px) {
  .accordion {
    width: 100%;
  }
}