@keyframes spin {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(404deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shiftBgRight {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 400px;
  }
}
