.debug-document-seeder {
  width: 40em;
  max-width: 100vw;
  margin: 1em auto;
}

.debug-document-seeder-text {
  width: 100%;
  height: 20em;
  resize: vertical;
}

.debug-document-seeder-text-label {
  font-weight: bold;
  font-size: var(--smallFontSize);
}

.debug-document-seeder-submit-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5em;

  & button {
    margin-right: 0.5em;
  }
}

.debug-document-seeder-submit-spinner {
  margin-left: 0.5em;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
}

.debug-document-seeder-spinner-submitting {
  opacity: 1;
}

.debug-document-seeder-arrow {
  font-size: 2em;
  text-align: center;
  color: var(--fadedColor);
}

.debug-document-seeder-linkout,
.debug-document-seeder-textmining {
  margin-top: 1em;
  border-radius: 0.25em;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.2), 0 4px 80px -8px rgba(0, 20, 60, 0.3);
}

.debug-document-seeder-linkout {
  padding: 0.25em 1.5em;
}

.debug-document-seeder-result-title {
  color: var(--fadedColor);
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
}

.debug-document-seeder-textmining {
  padding: 1em;
  line-height: 1.5;
}
