.demoin {
  width: 30em;
  padding: 0.25em;
  position: relative;
}

.demoin-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25em;
  align-items: center;
}

.demoin-title {
  margin: 0;
}

.demoin-text {
  width: 100%;
  height: 10em;
  resize: none;
}

.demoin-footer {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.demoin-loader {
  margin-right: 1em;
}

.demoin-submit {
  border-color: var(--activeColor);
  color: var(--activeColor);
}

.demoin-example {
  position: absolute;
  right: 0.5em;
  top: 2.25em;
  opacity: 0;
  pointer-events: none;
}

.demoin-example-shown {
  opacity: 1;
  pointer-events: auto;
}
