.document-seeder {
  & input,
  & textarea {
    width: 100%;
    margin-bottom: 1em;
  }

  & textarea {
    min-height: 6em;
    resize: vertical;
  }
}

.document-seeder-content {
  width: 100%;
}

.document-seeder-text-label {
  font-weight: bold;
  font-size: var(--smallFontSize);
  cursor: default;
}

.document-seeder-submit {
  margin-right: 0.5em;
}

.document-seeder-submit-spinner {
  vertical-align: middle;
}

.document-seeder-example-buttons {
  & button + button {
    margin-left: 0.5em;
  }
}
