.document-management {
  & input,
  & textarea {
    width: 100%;
    margin-bottom: 1em;
  }

  & textarea {
    min-height: 6em;
    resize: vertical;
  }

  & .emphasize {
    color: var(--completeColor);
  }

  & .mute {
    color: var(--fadedColor);
  }
}

.document-management-content {
  width: 100%;

  & ul {
    list-style-type: none;
  }

  & .on-submit {
    visibility: hidden;
  }

  & .is-submitted {
    .on-submit {
      visibility: visible;
    }
  }

  & hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.document-management-submit-spinner {
  vertical-align: middle;
}

.document-management-document-section {
  display: flex; 
  align-items: baseline;
  justify-content: flex-start;
}

.document-management-document-section.column {
  flex-direction: column;
}

.document-management-document-section.meta {
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.9em;
}

.document-management-document-section-label{
  font-size: var(--smallFontSize);
  margin: 0.5em;
  color: var(--fadedColor);
}

.document-management-document-section-items {
  & * {
    margin: 0 0.5em;
  }
}

