.document-wizard-stepper-back {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.5em;
  font-size: 1.25em;
}

.document-wizard-stepper-forward {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5em;
  font-size: 1.25em;
}

.document-wizard-stepper-back-spinner,
.document-wizard-stepper-forward-spinner {
  margin: 0 0.5em;
  opacity: 0;
  transition: opacity 250ms ease;
}

.document-wizard-stepper-spinner-going {
  opacity: 1;
}

.document-wizard-stepper-back-button,
.document-wizard-stepper-forward-button {
  opacity: 0;
  pointer-events: none;
}

.document-wizard-stepper-button-enabled {
  opacity: 1;
  pointer-events: auto;
}
