.document-wizard-stepper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
}

.document-wizard-stepper-back {
  margin: 0.5em;
  margin-left: 0;
  font-size: 1.25em;
}

.document-wizard-stepper-forward {
  margin: 0.5em;
  margin-right: 0;
  font-size: 1.25em;
}

.document-wizard-stepper-back-spinner,
.document-wizard-stepper-forward-spinner {
  margin: 0 0.5em;
  opacity: 0;
  transition: opacity 250ms ease;
}

.document-wizard-stepper-spinner-going {
  opacity: 1;
}

.document-wizard-stepper-back-button,
.document-wizard-stepper-forward-button {
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: wrap;
}

.document-wizard-stepper-button-enabled {
  opacity: 1;
  pointer-events: auto;
}
