.expandable-list {
  margin: 0 auto;

  & .elidable {
    display: none;
  }
}

.expandable-list-item {
  display: inline;
}

.expandable-list-item.elide-element {
  margin-left: 0.2em;
}

.expandable-list-item:not(.elidable, .elide-element, .elide-toggle-element) ~ .expandable-list-item:not(.elidable, .elide-element, .elide-toggle-element)::before {
  content: " • ";
}

.expandable-list.expanded {
  & > .expandable-list-item.elide-element {
    display: none;
  }

  & > .expandable-list-item.elidable {
    display: initial;
  }
}

.expandable-list-item .button-toggle.elide-toggle {
  border: 0;
  margin: auto 0.4em;
  background-color: transparent;
  color: var(--fadedColor);
  text-decoration: underline;
}
