.expandable-list {
  margin: 0 auto;
}

.expandable-list-item {
  display: inline;

  &.elidable {
    display: none;
  }
}

.expandable-list-item.elide-element {
  margin-left: 0.2em;
}

.expandable-list-item:not(.elidable, .elide-element) ~ .expandable-list-item:not(.elidable, .elide-element)::before {
  content: " • ";
}
