.help-overlay {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  transition: opacity 500ms ease-out;
  pointer-events: none;
  position: fixed;
  z-index: 10000;
}

.help-overlay-active {
  opacity: 0.4;
  pointer-events: auto;
}

.help-tooltip {
  padding: 0.333em;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  & ul,
  & li {
    margin: 0;
  }
}
