.editor-help {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999999;
  opacity: 0;
  pointer-events: none;
}

.editor-help-shown {
  opacity: 1;
  pointer-events: all;
}

.editor-help-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  cursor: pointer;
}

.editor-help-video-embed {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}
