.home {
  width: 40em;
  max-width: 100vw;
  margin: 1em auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.home h1,
.home h2,
.home h3 {
  text-align: center;
}

.home h1 {
  font-size: 5em;
  margin-bottom: 0;
  line-height: 1;
}

.home-steps-figure {
  display: inline-block;
  width: 100%;
  padding-bottom: 25%;
  background-image: url('./image/steps-figure.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
  margin: -1em 0;
}
