.home {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.home-cta {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-top: auto;
  padding: 4em 0 1.5em;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.66) 50%, rgba(0, 0, 0, 0) 100%);
}

.home-cta-button,
.home-cta-alt-button {
  text-transform: uppercase;
  padding: 0.25em 0;
  height: auto;
  border-radius: 2em;
  width: 12em;
  border-color: var(--brandColor);
  color: var(--brandColor);

  &:active {
    border-color: var(--brandColorDark);
    color: var(--brandColorDark);
  }
}

.home-cta-button {
  border-width: 2px;
}

.home-cta-p {
  margin-top: 2em;

  & button {
    margin-right: 1em;
    margin-bottom: 0.25em;
  }
}

.home-cta-2 .home-cta-button {
  background-color: #000;
  color: #fff;
}

.home-mini-cta-button {
  border-color: #000;
  color: #000;
  border-radius: 2em;
  padding: 0 0.5em;
  height: auto;

  &:active {
    color: #888;
    border-color: #888;
  }
}

.home-cta-alt-button {
  background-color: var(--brandColor);
  border-color: var(--brandColor);
  color: #fff;
  border-width: 1px;

  &:active {
    background-color: var(--brandColorDark);
    color: #fff;
    border-color: var(--brandColorDark);
  }
}

.home-cta-2 {
  padding: 1em 0 0;
  background: none;
}

.home-cta-2 > * {
  margin: 0.25em;
}

.home-section {
  box-sizing: border-box;
  position: relative;

  & + .home-section {
    margin-top: 4em;
  }
}

.home-explore {
  margin-top: auto;
  margin-bottom: 2em;
  align-self: flex-end;
  position: relative;
  z-index: 2;
  width: 100%;
  color: #000;
  padding: 1.5em 0 1em;
  box-sizing: border-box;
  overflow: visible;

  & h2 {
    text-align: left;
    margin: 0;
    font-weight: normal;
    padding-left: 2.4em;
    position: relative;
    bottom: -0.66em;
  }
}

.home-fluid-section {
  height: auto;
  display: flex;
  flex-direction: row;
}

.home-fluid-section-no-figure .home-fluid-section-copy {
  width: auto;
}

.home-fluid-section-copy,
.home-fluid-section-laptop,
.home-fluid-section-phone,
.home-fluid-section-figure {
  width: 50%;
  height: auto;
  position: relative;
}

.home-fluid-section-laptop {
  display: block;
}

.home-fluid-sticky {
  position: sticky;
  top: 1em;
}

.home-fluid-section-copy {
  margin: 0 1em;
}

.home-fluid-section-laptop-frame {
  width: 30em;
  height: 17.5em;
  margin: 0 auto;
  background-image: url('/image/macbookpro15_front.png');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@keyframes home-fluid-section-phone-aoi-crossfade {
  0% {
    background-image: url('/image/phone-explore-1.png');
  }

  30% {
    background-image: url('/image/phone-explore-1.png');
  }

  35% {
    background-image: url('/image/phone-explore-2.png');
  }

  65% {
    background-image: url('/image/phone-explore-2.png');
  }

  70% {
    background-image: url('/image/phone-explore-3.png');
  }

  95% {
    background-image: url('/image/phone-explore-3.png');
  }

  100% {
    background-image: url('/image/phone-explore-1.png');
  }
}

.home-fluid-section-phone-aoi {
  width: 17.1em;
  height: 35em;
  margin: 0 auto;
  background-image: url('/image/phone-explore-1.png');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation-name: home-fluid-section-phone-aoi-crossfade;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1000ms;

  /* preload images */
  &::before {
    content: 'preload';
    width: 10px;
    height: 10px;
    opacity: 0.01;
    background-color: red;
    position: absolute;
    background-size: cover;
    background-image: url('/image/phone-explore-1.png'), url('/image/phone-explore-2.png'), url('/image/phone-explore-3.png');
  }
}

.home-fluid-section-figure-aoi {
  width: 18em;
  height: 18em;
  margin: 1em auto;
  background-image: url('/image/layer-cake-2.png');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.home-fluid-section-laptop-content {
  position: absolute;
  width: 20em;
  height: 13.5em;
  left: 50%;
  top: 1.5em;
  transform: translate(-50%, 0);

  & video,
  & img {
    width: 100%;
    height: 100%;
  }
}

.home-fluid-section-copy {
  & h2 {
    color: var(--brandColor);
    font-size: 2.5em;
    margin-top: 0;
  }

  & h3 {
    font-size: 1.25em;
    color: #000;
    font-weight: normal;
  }

  & p {
    color: #666;
  }
}

.home-text-section {
  max-width: 800px;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  margin: 1em auto;
}

.home-figure-section {
  height: 100vh;
  min-height: 24em !important;
  max-height: 800px !important;
  position: relative;
  display: flex;
  flex-direction: column;
}

.home-figure {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.home-caption {
  width: 100%;
  font-size: 1.25em;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 1em;
  color: #000;
  display: block;
}

.home-banner-caption {
  width: 100%;
  font-size: 1em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.home-intro {
  margin: auto 1em;
  width: calc(100% - 2em);
  box-sizing: border-box;
}

.home-intro-title {
  width: 50%;
  font-size: 1.25em;
  font-weight: normal;
  color: #000;
}

.home-intro-copy {
  margin: 1em 0;
  width: 50%;
  color: #666;
  line-height: 1.5;
}

.home-intro-cta {
  color: #fff;
  border-color: var(--brandColor);
  background-color: var(--brandColor);
  border-radius: 4em;
  text-transform: uppercase;
  width: 12em;
  padding: 0.25em 0;
  height: auto;

  &:active {
    border-color: var(--brandColorDark);
    background-color: var(--brandColorDark);
    color: #fff;
  }
}

@keyframes home-intro-figure-crossfade {
  0% {
    background-image: url('/image/banner-puzzle-missing.jpg');
  }

  100% {
    background-image: url('/image/banner-puzzle.jpg');
  }
}

.home-intro-figure,
.home-intro-figure-sm-alt {
  position: absolute;
  right: 1em;
  top: 3.75em;
  bottom: 20em;
  width: calc(50% - 2em);
  box-sizing: border-box;
  max-height: 24em;
  background-image: url('/image/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 0.5em;

  /* cursor: pointer;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: ease-out; */

  /* preload images
  &::before {
    content: 'preload';
    background-image: url('/image/banner-puzzle.jpg'), url('/image/banner-puzzle-missing.jpg');
    background-color: red;
    position: absolute;
    background-size: cover;
    width: 10px;
    height: 10px;
    opacity: 0.01;
  } */

  /* &.active {
    background-image: url('/image/banner-puzzle-missing.jpg');
  } */
}

.home-intro-figure-sm-alt {
  position: static;
  width: calc(100% - 2em);
  height: 20em;
  max-height: 80vh;
  margin: 0 auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  animation-delay: 1000ms;
}

.home-intro-figure-sm-alt-section {
  display: none;
  text-align: center;

  & > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.home-credits {
  font-size: var(--smallFontSize);
  color: var(--fadedColor);
}

.home-request-form-container {
  padding: 0.5em;
  box-sizing: border-box;
  max-width: calc(100vw - 1em);
  min-width: 300px;
  width: 300px;
}

.home-request-form {
  width: 100%;
  box-sizing: border-box;
}

.home-request-form-submitting {
  opacity: 0.333;
  pointer-events: none;
}

.home-request-form-description {
  margin: 0;
  font-size: 1.25em;
  text-align: center;
  color: #000;
}

.home-request-form-author {
  font-size: var(--smallFontSize);
  margin: 0.5em 0;

  & * {
    margin-right: 0.25em;
  }
}

.home-request-form > input {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  box-sizing: border-box;
}

.home-request-form-footer {
  margin: 0.2em 0.5em 0;
  color: var(--fadedColor);
  font-size: 0.8em;
}

.home-request-submit {
  width: 100%;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: normal;
  border: 0;
  background-color: var(--brandColor);

  &:active {
    background-color: var(--brandColorDark);
  }
}

.home-request-error {
  display: none;
  color: var(--invalidColor);
  font-weight: bold;
  padding: 0.25em 0.5em;
  font-size: var(--smallFontSize);
  text-align: center;
  margin-top: 1em;
}

.home-request-error-message-shown {
  display: block;
}

.home-request-spinner {
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  display: none;
}

.home-request-spinner-shown {
  display: block;
}

.home-request-form-done > * {
  text-align: center;
  margin: 0 0 0.5em;
}

.home-request-form-done .home-request-form-done-button {
  display: block;
  background-color: var(--brandColor);
  color: #fff;
  padding: 0.5em 0;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4em;
}

.home-request-form-done-title {
  color: var(--buttonActiveColor);
}

.home-request-form-done-info {
  margin: 0;
  font-size: 0.8em;
}

.home-request-form-done-icon {
  font-size: 2em;
  text-align: center;
}

.home-request-form-done-msg {
  text-align: center;
}

.home-credit-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 4em;
  height: 4em;
  max-width: 80vw;
  display: inline-block;
  margin: 0 0.8em;
}

.home-credit-logo-harvardu {
  background-image: url('/image/logo_harvardu.png');
}

.home-credit-logo-ohsu {
  background-image: url('/image/logo_ohsu.jpg');
}

.home-credit-logo-utoronto {
  background-image: url('/image/logo_utoronto.png');
}

.home-footer {
  margin: 4em 1em 1em;
  text-align: center;
  color: #888;
}

.home-contact-info {
  max-width: calc(100vw - 1em);
  box-sizing: border-box;
  width: 400px;
  padding: 0.5em;

  & p {
    margin: 0;
  }

  & p + p {
    margin-top: 1em;
  }
}

.home-nav {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
}

.home-nav-left {
  display: block;
}

.home-nav-right {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.home-nav-link {
  & + .home-nav-link {
    margin-left: 2em;
  }
}

.home-nav-logo {
  position: relative;
  background-image: url('/image/logo-horizontal-name-only-black.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 8em;
  height: 1.4em;
  display: inline-block;
}

.home-info-popover-content {
  padding: 0.25em;
  max-width: 300px;
  line-height: 1.5;
  color: #444;
  font-size: 0.8em;
}

.home-fluid-section-phone .home-cta-p,
.home-fluid-section-laptop .home-cta-p {
  display: none;
}

@media (max-width: 1000px) {
  .home-fluid-section-laptop-frame {
    width: 20em;
    height: 11.666em;
  }

  .home-fluid-section-laptop-content {
    width: 13.333em;
    height: 9em;
    left: 50%;
    top: 1em;
  }

  .home-fluid-section-phone-aoi {
    width: 14.73em;
    height: 30em;
  }

  .home-fluid-section-figure-aoi {
    width: 20em;
    height: 20em;
  }
}

/* figures go afterwards (instead of alongside) on small screens */
@media (max-width: 750px) {
  .home-fluid-section-copy,
  .home-fluid-section-laptop,
  .home-fluid-section-phone,
  .home-fluid-section-figure {
    width: auto;
    margin-top: 1em;
  }

  .home-fluid-section {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .home-fluid-sticky {
    position: relative;
    top: 0;
  }

  .home-fluid-section-phone-aoi {
    width: 11em;
    height: 22.5em;
  }

  .home-cta-p {
    text-align: center;
  }

  .home-fluid-section-copy .home-cta-p {
    display: none;
  }

  .home-fluid-section-no-figure .home-fluid-section-copy .home-cta-p {
    display: block;
  }

  .home-fluid-section-phone .home-cta-p,
  .home-fluid-section-laptop .home-cta-p {
    display: block;
  }
}

@media (max-width: 750px) {
  .home-figure-footer {
    justify-content: center;
  }

  .home-figure-2 {
    background-image: url('/image/home-figure-2-slim.png');
    background-size: 95% auto;
    background-position: 50% 80%;
  }

  .home-intro-copy,
  .home-intro-title {
    width: auto;
  }

  .home-intro-figure {
    display: none;
  }

  ..home-intro-figure-sm-alt-section {
    display: block;
  }

  .home-explore h2 {
    padding-left: 0;
    text-align: center;
    position: relative;
    bottom: -0.75em;
  }
}

@media (max-width: 400px) {
  .home-explore h2 {
    padding-left: 0;
    text-align: center;
    position: relative;
    bottom: -0.75em;
  }

  .home-banner-logo {
    margin-top: 0;
  }

  .home-intro-figure-sm-alt-section {
    display: block;
  }

  .home-nav-link {
    & + .home-nav-link {
      margin-left: 1.5em;
    }
  }
}

@media (max-width: 320px) {
  .home-figure-section {
    height: auto !important;
    max-height: auto !important;
  }

  .home-fluid-section-copy h2 {
    font-size: 2em;
  }
}

@media (max-height: 500px) {
  .home-figure-section {
    height: auto !important;
    max-height: auto !important;
  }

  .home-fluid-section-copy h2 {
    font-size: 2em;
  }
}
