.home {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.home-cta {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-top: auto;
  padding: 4em 0 1.5em;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.66) 50%, rgba(0, 0, 0, 0) 100%);
}

.home-cta-button,
.home-cta-alt-button {
  text-transform: uppercase;
  padding: 0.25em 0;
  height: auto;
  border-radius: 2em;
  width: 12em;
  background-color: #fff;
  border-color: #fff;
  color: #000;

  &:active {
    background-color: #eee;
    border-color: #eee;
  }
}

.home-mini-cta-button {
  border-color: #fff;
  color: #fff;
  border-radius: 2em;
  padding: 0 0.5em;
  height: auto;

  &:active {
    color: #888;
    border-color: #888;
  }
}

.home-cta-alt-button {
  background-color: transparent;
  color: #fff;
  border-width: 2px;

  &:active {
    background-color: transparent;
    color: #eee;
    border-color: #eee;
  }
}

.home-cta-2 > * {
  margin: 0.25em;
}

.home-section {
  box-sizing: border-box;
  position: relative;
}

.home-explore {
  margin-top: auto;
  margin-bottom: 2em;
  align-self: flex-end;
  position: relative;
  z-index: 2;
  width: 100%;
  color: #fff;
  padding: 1.5em 0 1em;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 1em, rgba(0, 0, 0, 1) 100%);

  & h2 {
    text-align: left;
    margin: 0;
    font-weight: normal;
    padding-left: 2.4em;
  }
}

.home-text-section {
  max-width: 800px;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  margin: 1em auto;
}

.scroller-content {
  z-index: 5;
  overflow-x: auto;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  padding: 3em;
  scroll-padding-left: 3em;
  padding-right: 3em;
  box-sizing: border-box;
  scrollbar-width: none; /* stylelint-disable-line */
  touch-action: pan-x pan-y;
  user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  margin-top: -2em;
  margin-bottom: -2em;
}

.scroller-content::-webkit-scrollbar {
  display: none;
}

.scroller-content-only-placeholders {
  pointer-events: none;
}

.scroller-doc {
  background: #fff;
  color: #000;
  scroll-snap-align: start;
  display: block;
  box-sizing: border-box;
  min-width: 25%;
  width: 20em;
  max-width: 100%;
  height: 14em;
  position: relative;
  border: 2px solid #333;
  border-radius: 0.25em;
  touch-action: pan-x pan-y;
  user-select: none;
  transform: translate3d(0, 0, 0);
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  overflow: visible;

  &.scroller-doc-hovered {
    z-index: 8;
    background-color: #fff;

    & .scroller-doc-descr > * {
      text-overflow: inherit;
      white-space: normal;
      overflow: inherit;
      display: block;
      position: static;
      color: #000;
    }

    & .scroller-doc-descr {
      z-index: 10;
      top: -3em;
      bottom: -2.25em;
      background: linear-gradient(to bottom, #fff 0, #fff 3em, rgba(255, 255, 255, 0) 5em), linear-gradient(to top, #fff 0, #fff 3em, rgba(255, 255, 255, 0) 5em);
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
      border-radius: 0.25em;
    }

    & .scroller-doc-author {
      display: inline;

      & + .scroller-doc-author::before {
        content: ', ';
      }

      &:first-child::after {
        content: none;
      }
    }
  }

  &:last-child {
    scroll-snap-align: end;
  }
}

.scroller-doc-placeholder {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(255, 255, 255, 1) 100%);
  background-position: 0 0;
  animation: shiftBgRight 1000ms infinite;
}

@media (max-width: 1100px) {
  .scroller-doc {
    min-width: 33.333%;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .scroller-doc {
    min-width: 50%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .scroller-doc {
    min-width: 100%;
    max-width: 100%;
  }
}

.scroller-doc-spacer {
  display: block;
  min-width: 3em;
  min-height: 100%;
  scroll-snap-align: end;
}

.scroller-doc-figure {
  position: absolute;
  top: 1.5em;
  bottom: 2.75em;
  left: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: opacity 250ms ease;

  /* placeholder */
  background-image: url('/image/example-doc-1.png');
}

.scroller-doc-descr {
  padding: 0.25em 0.33em;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition-property: top bottom;
  transition-duration: 128ms;
  transition-timing-function: ease-in-out;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;

  & > * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
  }
}

.scroller-doc-title {
  position: relative;
  font-weight: bold;
  flex-grow: 1;
  display: block;
  color: #000;
}

.scroller-doc-author:not(:first-child) {
  display: none;
}

.scroller-doc-author:first-child {
  &::after {
    content: ' et al.';
  }
}

.scroller-doc-journal {
  margin-top: 0.25em;
  font-style: italic;
}

.scroller-pager {
  width: 3em;
  bottom: 2em;
  height: 14em;
  position: absolute;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease;
  opacity: 0;
  pointer-events: none;
}

.scroller-pager-available {
  opacity: 1;
  pointer-events: all;
}

.scroller-pager-left {
  left: 0;
}

.scroller-pager-right {
  right: 0;
}

.scroller-pager-icon {
  font-size: 3em;
}

.home-figure-section {
  height: 100vh;
  min-height: 24em;
  max-height: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-figure {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.home-figure-0 {
  background-image: url('/image/banner.jpg');
  background-size: cover;
  background-position: 50% 50%;
  bottom: 10em;
}

.home-figure-banner-bg {
  z-index: -2;
  background: #000;
}

.home-figure-1 {
  background-image: url('/image/home-figure-1.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.home-figure-2 {
  background-image: url('/image/home-figure-2.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.home-figure-video {
  margin-top: 1em;
  margin-left: -1%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 352px;
  height: 198px;
  background: #fff;
  border-radius: 0.125em;
  z-index: -1;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;

  & video {
    width: 100%;
    height: 100%;
  }
}

.home-figure-fg-2 {
  flex-grow: 1;
  width: 100%;
  margin-top: -4.5em;
  margin-bottom: -8em;
  background-image: url('/image/home-figure-fg-2.png');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.7;
}

.home-caption {
  width: 100%;
  font-size: 1.25em;
  line-height: 1.5;
  box-sizing: border-box;
  padding: 1em;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
  display: block;
}

.home-caption-2 {
  background: linear-gradient(to bottom, rgba(74, 95, 110, 0.7) 0%, rgba(104, 141, 168, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
}

.home-figure-footnote {
  font-size: 0.64em;
}

.home-figure-footer {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-banner-caption {
  width: 100%;
  font-size: 1em;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
}

.home-banner .home-nav {
  position: absolute;
  top: 0;
  margin: 1em;
  color: #fff;
}

.home-banner .home-nav-left {
  left: 0;
}

.home-banner .home-nav-right {
  right: 0;
  margin-top: 0.66em;
}

.home-banner-logo {
  position: relative;
  z-index: 2;
  margin-top: 2em;
  margin-bottom: 0.5em;
  background-image: url('/image/logo-horizontal-name-only-white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 25em;
  max-width: 85vw;
  height: 5em;
}

.home-banner-title {
  pointer-events: none;
  opacity: 0.001; /* allow the text to be scraped by search engines but show the svg */
}

.home-banner-tagline {
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.home-credits {
  font-size: var(--smallFontSize);
  color: var(--fadedColor);
}

.home-request-form-container {
  padding: 0.5em;
  box-sizing: border-box;
  max-width: calc(100vw - 1em);
  min-width: 300px;
  width: 300px;
}

.home-request-form {
  width: 100%;
  box-sizing: border-box;
}

.home-request-form-submitting {
  opacity: 0.333;
  pointer-events: none;
}

.home-request-form-description {
  font-weight: bold;
  margin: 0;
  font-size: 1em;
  text-align: center;
}

.home-request-form-author {
  font-size: var(--smallFontSize);
  margin: 0.5em 0;

  & * {
    margin-right: 0.25em;
  }
}

.home-request-form > input {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  box-sizing: border-box;
}

.home-request-form-footer {
  margin: 0.2em 0.5em 0;
  color: var(--fadedColor);
  font-size: 0.8em;
}

.home-request-submit {
  width: 100%;
  margin-top: 1em;
}

.home-request-error {
  display: none;
  background-color: var(--invalidColor);
  border-radius: 0.25em;
  color: #fff;
  padding: 0.25em 0.5em;
  font-size: var(--smallFontSize);
  text-align: center;
  margin-top: 1em;
}

.home-request-error-message-shown {
  display: block;
}

.home-request-spinner {
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  display: none;
}

.home-request-spinner-shown {
  display: block;
}

.home-request-form-done > * {
  text-align: center;
  margin: 0 0 0.5em;
}

.home-request-form-done .home-request-form-done-button {
  display: block;
  border-radius: var(--widgetBorderRadius);
  background-color: var(--brandColor);
  color: var(--buttonActiveColor);
  padding: 0.2em 0.5em;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.home-request-form-done-title {
  color: var(--buttonActiveColor);
}

.home-request-form-done-info {
  margin: 0;
  font-size: 0.8em;
}

.home-request-form-done-icon {
  font-size: 2em;
  text-align: center;
}

.home-request-form-done-msg {
  text-align: center;
}

.home-credit-logos {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-credit-logo {
  background-image: url('/image/uni-logos-bw.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18em;
  height: 3em;
  max-width: 80vw;
  display: inline-block;
  margin: 0 1em;
}

.home-contact-info {
  max-width: calc(100vw - 1em);
  box-sizing: border-box;
  width: 400px;
  padding: 0.5em;

  & p {
    margin: 0;
  }

  & p + p {
    margin-top: 1em;
  }
}

.home-nav {
  text-align: center;
  margin: 2em 1em;
}

.home-nav-link {
  & + .home-nav-link {
    margin-left: 2em;
  }
}

.home-info-popover-content {
  padding: 0.25em;
  max-width: 300px;
}

@media (max-width: 400px) {
  .home-explore {
    margin-bottom: 7.5em;
  }

  .home-caption,
  .home-banner-tagline,
  .home-explore h2 {
    font-size: 1em;
  }

  .home-explore h2 {
    padding-left: 0;
    text-align: center;
  }

  .home-banner-logo {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .home-figure-footer {
    justify-content: center;
  }

  .home-credit-logos {
    display: none;
  }

  .home-nav-top {
    display: none;
  }
}
