.how-to {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 250ms ease-out;
  opacity: 1;
}

.how-to-viewed {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.how-to-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.how-to-content {
  position: relative;
  padding: 0.5em 0;
  background: #fff;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.2), 0 4px 80px -8px rgba(0, 20, 60, 0.3);
  border-radius: 0.25em;
}

.how-to-title {
  margin-top: 0.5em;
  text-align: center;
}

.how-to-points {
  text-align: center;
}

button.how-to-point {
  border-radius: 1em;
  width: 1.75em;
  height: 1.75em;
  display: inline-block;
  margin: 0 0.5em;
}

.how-to-video {
  width: 600px;
  height: 338px;
  max-width: 80vw;
  align-self: flex-start;
  margin-bottom: 0.5em;
  border: 1px solid var(--widgetBorderColor);
  border-left: 0;
  border-right: 0;
  pointer-events: none;
}

.how-to-close {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5em;
}

.how-to-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  font-size: 2em;
  transition: opacity 250ms ease-out;
}

.how-to-spinner-loaded {
  opacity: 0;
}
