@import "./vars.css";

/* app styles */
@import "./animations.css";
@import "./base.css";
@import "./popover";
@import "./react-tabs.css";
@import "./init-app.css";
@import "./app.css";
@import "./highlighter.css";
@import "./editor";
@import "./home.css";
@import "./debug.css";
@import "./document-linkout.css";
@import "./debug-document-seeder.css";
@import "./notification.css";
@import "./element-info";
@import "./organism-toggle.css";
@import "./example-document.css";
@import "./document-seeder.css";
@import "./document-wizard-stepper.css";
@import "./document-view-chooser.css";
@import "./form-editor";
@import "./document-renamer.css";
@import "./my-factoids.css";
@import "./help.css";
