.my-factoids {
  max-width: 90vw;
  box-sizing: border-box;
  padding: 0.25em;
  max-height: 80vh;
  overflow: scroll;
}

.my-factoids-entry,
.my-factoids-empty {
  margin: 0.5em 0;
}

.my-factoids-title {
  margin-top: 0;
}

.my-factoids-clear {
  margin-top: 0.5em;
}
