.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  background-color: #fff;
  border: 0;
  border-color: transparent;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.2), 0 4px 80px -8px rgba(0, 20, 60, 0.3);
  border-radius: 4px;
  transform: translate3d(0, 0, 0); /* hack to fix qtip scrollbars on chrome */
}

.qtip-tip {
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  overflow: hidden;
}

.qtip-tip canvas {
  top: 0;
  left: 0;
  position: absolute;
}

.qtip-content {
  position: relative;
  border: 0;
}
