.related-paper-hypertext {
  color: rgb(0, 113, 188);
}

.related-papers > .related-paper {
  margin: auto auto 1em;
}

.related-paper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 0.95rem;
}

.related-paper-journal-badge {
  font-size: small;
  background-color: var(--widgetActiveColor);
  margin-right: 0.2rem;
}

.related-papers-loading {
  display: block;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.related-papers-loading-icon {
  font-size: 2em;
  text-align: center;
  margin: 0.5rem 0;
  opacity: 0.333;
}

.related-papers-loading-msg {
  margin: 1em 0;
  box-sizing: border-box;
  padding: 0 1rem;
  color: #888;
  text-align: center;
}

.related-interactions > .related-interaction {
  margin: auto auto 1em;
}

.related-interaction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #ddd;
  min-height: 6em;
  border-radius: 0.25em;
  padding: 1.5em 1.5em 1.5em 1em;
}

.related-interaction-body {
  display: flex;
  flex-direction: row;
}

.related-interaction-meta {
  font-weight: bold;
  width: 30%;
}

.related-interaction-evidence {
  flex: 1;
}

.related-interaction-evidence-sources {
  font-size: small;
  text-align: right;
}

@media (max-width: 800px) {
  .related-interaction-body {
    flex-direction: column;
  }

  .related-interaction-meta {
    width: auto;
    margin-bottom: 1em;
  }

  .related-interaction-evidence {
    width: auto;
  }
}

.related-interaction-evidence > * {
  display: block;
  margin-bottom: 0.25em;
}

.related-interaction-evidence-source-excerpts {
  padding: 10px;
  background-color: #f8f8f8;
}

.related-interaction-evidence-source-excerpt {
  padding: 0 0 0.8em;
}

.related-interaction-evidence-source-excerpt:last-child {
  padding: 0;
}

.related-interaction-additional-evidence {
  float: right;
  font-size: 0.9em;
}
