.task-list {
  position: absolute;
  top: 0;
  left: 45px;
  height: 98vh;
  width: 20em;
  background-color: #767676;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms ease-out;
  padding: 10px;
}

.task-list-active {
  opacity: 0.8;
  z-index: 3;
}
