.task-list {
  position: absolute;
  top: 0;
  right: -21.5em;
  height: 98vh;
  width: 20em;
  background-color: #767676;
  z-index: -1;
  opacity: 0;
  transform: translate3d(0%, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 200ms;
  padding: 10px;
  overflow-y: scroll;
}

.task-list-active {
  transform: translate3d(-21.5em, 0, 0);
  opacity: 0.8;
  z-index: 3;
}

.task-list-empty-message {
  text-align: center;
  color: #fff;
}
