.task-view {
  width: 300px;
  padding: 0.25em 0.33em;

  &.done {
    width: 250px;
    padding: 0;
  }
}

.task-view-items {
  margin-left: 1em;

  & li {
    margin: 0;
  }
}

.task-view-confirm {
  margin-bottom: 1em;
}

.task-view-confirm-button-area {
  text-align: right;
}

.task-view-done,
.task-view-done-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-view-done-caption {
  position: relative;
  top: -1em;
}

.task-view-done-caption h1,
p {
  margin: 0.1em auto;
}

.task-view-done-caption-body {
  font-size: 0.9em;
}

.task-view-done-caption-footer {
  margin-top: 0.3em;
  font-size: 0.8em;
  color: var(--fadedColor);
}

.task-view-done-symbol i {
  font-size: 5em;
  text-align: right;
  color: var(--completeColor);
}

