.task-view {
  width: 300px;
  padding: 0.25em 0.33em;
}

.task-view-spinner {
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  display: none;
}

.task-view-spinner-shown {
  display: block;
}

.task-view-submit {
  width: 100%;
  box-sizing: border-box;
}

.task-view-submitting {
  opacity: 0.333;
  pointer-events: none;
}

.task-view-items {
  margin-left: 1em;

  & li {
    margin: 0;
  }
}

.task-view-confirm {
  margin-bottom: 1em;
}

.task-view-confirm-button-area {
  text-align: right;
}

.task-view-done,
.task-view-done-section,
.task-view-done-section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.1em;

  & p {
    margin: 0.5em 0;
  }
}

.task-view-done-title {
  font-size: 1.2em;
  font-weight: bold;
}

.task-view-done-section-body {
  & p {
    font-size: 0.95em;
    line-height: 1.3em;
  }

  & ul,
  & li {
    margin: 0 0 0.1em;
  }

  & ul {
    list-style: none;
  }
}

.task-view-done hr {
  width: 80%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.5em;
}

.task-view-done-button {
  text-transform: uppercase;
  display: block;
  border-radius: var(--widgetBorderRadius);
  background-color: var(--brandColor);
  color: var(--buttonActiveColor);
  padding: 0.1em 0;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  width: 75%;
  text-align: center;
}

.task-view-done-section-footer {
  color: var(--fadedColor);
  font-size: 0.8em;
  text-align: center;
}

.task-view-share {
  & button {
    padding: 0;
  }
}

