:root {
  --widgetBorderColor: #aaa;
  --widgetBorderRadius: 4px;
  --widgetDisabledBorderColor: #ddd;
  --widgetDisabledTextColor: #bbb;
  --widgetActiveColor: #aaa;
  --widgetToggleColor: #ccc;
  --buttonActiveColor: #000;
  --widgetTransitionDuration: 500ms;
  --widgetHeight: 1.75em;
  --defaultWidgetWidth: 12em;
  --activeColor: #0169d9;
  --smallFontSize: 0.8em;
  --fadedColor: #888;
  --invalidColor: #b53535;
  --completeColor: #38af58;
  --brandColor: #ffd479;
  --brandColorDark: #e9bf63;
  --brandColorLight: #ffd57973;
}
