<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <link type="text/css" rel="stylesheet" href="/deps.css" />
    <link type="text/css" rel="stylesheet" href="/bundle.css" />

    <title>Not found</title>
  </head>

  <body class="content-page">
    <h1>Not found</h1>

    <p>The resource you are trying to access is not available at this URL. Please carefully check your address bar and try again, or <a class="plain-link" href="/">return to the app</a>.</p>
    <p>If problems persist, please contact us at <a class="plain-link" href="mailto:<%=EMAIL_ADDRESS_INFO%>"><%=EMAIL_ADDRESS_INFO%></a>.</p>
  </body>

</html>
