<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="bundle.css" />

    <% if( development ){ %><script>window.DEBUG = true;</script><% } %>
    <script defer src="deps.js"></script>
    <script defer src="bundle.js"></script>
  </head>

  <body>
    SPA TODO 2
  </body>

</html>
