<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<import: src="qunit">

<Title:>
  Factoid demo

<Header:>

<Body:>
  <div id="graph"></div>

  <div id="info">
    <div class="button-panel">
      <button id="add-entity-button"><span class="icon-plus"></span> Entity</button>
      <button id="add-interaction-button"><span class="icon-plus"></span> Interaction</button>
      <button id="textmining-button"><div class="alert-bubble"></div><span class="icon-plus"></span> Text</button>
    </div>

    <div class="popover-hidden-{not(_showTextmining)} popover-animated-{bool(_showTextminingAnimated)}">
      <app:popover classes="textmining-popover">
          <app:textmining>
      </app:popover>
    </div>

    <div id="entities-list">
      {#if _entities}
        {#each _entities as :entity}
          <app:entity>
        {/each}
      {else}
        <div class="info">
          <span class="icon-info-sign"></span> There are not yet any entities in the current document.  You can add entities with the buttons above.
        </div>
      {/if}
    </div>

  </div>

  <div id="description">
    <h1 id="description-title">Factoid: Building the future of scientific publishing</h1>
    <div id="description-content">
      <div class="scrollable-area">
        <p>Factoid helps authors to translate their written scientific text into formal descriptions of biological processes useful for sharing their results with others, bioinformatics analysis and integrating with other data to help build a more complete model of a cell.</p>

        <p>Factoid aims to be part of the publication process.  With the author's help, it will extract pathway and related information from a paper as it is submitted, submit the resulting diagram as a visual abstract for peer-review along with the paper and finally, publish the information in a shareable and computable format accompanying the paper for others to use.</p>

        <p>Factoid 1.0 helps turn text into a simple and editable network model of a biological process. Text is automatically converted to a first draft of a network which can then be corrected using easy to use editing functions.  Future versions will have more advanced text mining functionality to improve the 'first draft', will allow saving the results in standard formats for sharing and will make it easier to add text and edit the network.</p>
      </div>
    </div>
  </div>

<textmining:>
  <div id="textmining-input">
    <div class="info"><span class="icon-info-sign"></span> The text you enter below will be used to automatically populate the document with the specified entities and interactions.</div>

    <textarea id="textmining-text"></textarea>

    <div class="alert">
      <span class="icon-info-sign"></span> Nothing could be found in your text.  Please revise it, and try again.
    </div>

    <div class="buttons">
      <button class="add"><span class="icon-plus"></span> Add to document</button>
    </div>
  </div>

<entity:>
  <div class="{:entity.type} entity-instance associated-{nonempty(:entity.association)} moving-down-{bool(:entity._movingDown)} just-added-{bool(:entity._justAdded)}"  data-id="{{:entity.id}}" id="entity-{{:entity.id}}">
    
    {#if :entity.association}
      <span class="edit icon-ok associated-true tappable open-{bool(:entity._showEdit)}"></span>
    {else}
      <span class="edit icon-edit tappable open-{bool(:entity._showEdit)}"></span>
    {/if}
    
    <span class="name">
      {#if :entity.association}
        {:entity.name}
      {else}
        {#if :entity.interaction}
          {:entity.name}
        {else}
          <input class="edit-name-input input-like with-right-icon plain-{not(bool(:entity._showEdit))} loading-{bool(:entity._loadingPotentialAssociations)}" id="edit-name-input-{{:entity.id}}" data-id="{{:entity.id}}" type="text" value="{:entity.name}" />

          <span class="text-clear-icon icon-remove-sign right-input-icon tappable" data-for="edit-name-input-{{:entity.id}}"></span>
        {/if}
      {/if}
    </span>

    <span class="icons">
      {#if :entity.interaction}
        <span class="add-participants icon-plus-sign tappable open-{:entity._showAddParticipants}"></span>
      {/if}
      <span class="remove icon-remove tappable"></span>
    </span>

    {#if :entity.interaction}
      <div class="popover-hidden-{not(:entity._showEdit)} popover-animated-{bool(:entity._showEditAnimated)}">
        <app:popover classes="edit-interaction-popover">
          Future interaction edit UI.
        </app:popover>
      </div>

      <div class="popover-hidden-{not(:entity._showAddParticipants)} popover-animated-{bool(:entity._showAddParticipantsAnimated)}">
        <app:popover classes="add-participants-popover">
          <app:addParticipants>
        </app:popover>
      </div>

      <app:participants>

    {else}
      <div class="popover-hidden-{not(:entity._showEdit)} popover-animated-{bool(:entity._showEditAnimated)}">
        <app:popover classes="association-popover">
          <div id="association-ui-for-{:entity.id}" class="association-ui associated-{bool(:entity.association)}">
            {#if :entity.association}
              {#if :entity._associatedInfo}
                <app:associatedInfo>
              {else}
                <span class="loading-message">
                  <span class="loading-spinner-icon"></span> Loading entity information...
                </span>
              {/if}
            {else}
              <app:associateEntity>
            {/if}
          </div>
        </app:popover>
      </div>
    {/if}

  </div>

<participants:>
  <div class="participants-list" id="participants-list-for-{:entity.id}">
    {#each :entity._participants as :part}
      <div class="participant {:part.type}" data-id="{:part.id}">
        <span class="name">{:part.name}</span>
        <span class="icons">
          <span class="remove icon-remove-sign tappable"></span>
        </span>
      </div>
    {/each}
  </div>

<addParticipants:>
  <div class="add-participants-list" data-interaction-id="{:entity.id}" id="add-participants-list-for-{:entity.id}">
    {#if :entity._potentialParticipants}
      {#each :entity._potentialParticipants as :part}
        <div class="participant {:part.type}" data-id="{:part.id}">
          <span class="name">{.name}</span>
          <span class="icons">
            <span class="add-participant icon-plus-sign tappable"></span>
          </span>
        </div>
      {/each}
    {else}
      <div class="info no-entities-message"><span class="icon-info-sign"></span> There are no other entities in the document to add.</div>
    {/if}
  </div>

<associateEntity:>
  <div class="associate-ui">   
    <div class="associations" data-entity-id="{:entity.id}">
      {#if :entity._potentialAssociations}
        {#each :entity._potentialAssociations as :assoc}
          <button class="associate-button" data-index="{:assoc.index}">
            <div class="name"><span class="icon-ok"></span> {:assoc.name}</div>
            <div class="full-name">aka {:assoc.fullName} ({:assoc.officialName})</div>
            <div class="organism">{:assoc.organismName}</div>
            <div class="type">{:assoc.type}</div>
          </button>
        {/each}
      {else}
        {#if :entity.changedName}
          <div class="info">
            <span class="icon-info-sign"></span> No entities matching the specified name were found.  Please revise your search above.
          </div>
        {else}
          <div class="info">
            <span class="icon-info-sign"></span> When you modify the name of this entity, known entities matching that name will be displayed here.  Selecting one indicates the identity of this entity.
          </div>
        {/if}
      {/if}
    </div>
  </div>

<associatedInfo:>
  <div class="associated-info-ui">
    {#with :entity._associatedInfo}
      <div class="entity-info">
        <div class="summary">
          <div class="name">{name}</div>
          <div class="full-name">aka {fullName} ({officialName})</div>
          <div class="organism">{organismName}</div>
          <div class="type">{type}</div>
        </div>

        <div class="link-area">
          <a class="link" target="_blank" href="{link}">Full details at UniProt <span class="icon-external-link"></span></a>
        </div>

        <div class="function">
          <div class="text">{function}</div>
        </div>
      </div>
    {/with}
  </div>

  <popover: nonvoid>
    <div class="popover bottom {{{classes}}}">
      <div class="arrow"></div>

      {{{#if title}}}
        <div class="popover-title">
          {{{title}}}
        </div>
      {{{/if}}}

      <div class="popover-content">
        {{{content}}}
      </div>
    </div>