<!--
  Derby templates are similar to Handlebars, except that they are first
  parsed as HTML, and there are a few extensions to make them work directly
  with models. A single HTML template defines the HTML output, the event
  handlers that update the model after user interaction, and the event handlers
  that update the DOM when the model changes.

  As in Handlebars, double curly braces output a value literally. Derby
  templates add single curly braces, which output a value and set up
  model <- -> view bindings for that object.

  Elements that end in colon define template names. Pre-defined templates
  are capitalized by convention, but template names are case-insensitive.
  Pre-defined templates are automatically included when the page is rendered.
-->

<import: src="qunit">

<Title:>
  Factoid demo

<Header:>

<Body:>
  <div id="graph"></div>

  <div id="info">
    <div class="button-panel">
      <button id="add-entity-button"><span class="icon-plus"></span> Entity</button>
      <button id="add-interaction-button"><span class="icon-plus"></span> Interaction</button>
      <button id="textmining-button" disabled><span class="icon-plus-sign"></span> Smart</button>
    </div>

    <div id="entities-list">
      {#each _populatedEntities}
        <app:entity>
      {/each}
    </div>

  </div>

  <div id="foo">this is the content</div>

<entity:>
  <div class="{.type} entity-instance" data-id="{.id}">
    <span class="edit icon-edit"></span>
    <span class="name">{.name}</span>
    <span class="icons">
      {#if .interaction}
        <span class="add-participants icon-plus-sign"></span>
      {/if}
      <span class="remove icon-remove"></span>
    </span>

    {#if .interaction}
      <app:participants>
    {/if}
  </div>

<participants:>
  <div class="participants-list">
    {#each participants}
      <div class="participant {type}" data-id="{id}">
        <span class="name">{name}</span>
        <span class="icons">
          <span class="remove icon-remove-sign"></span>
        </span>
      </div>
    {/each}
  </div>

<addParticipants:>
  <div class="add-participants-list" id="add-participants-for-{id}">
    {#each participants}
      <div class="participant {type}" data-id="{id}">
        <span class="name">{name}</span>
        <span class="icons">
          <span class="remove icon-remove-sign"></span>
        </span>
      </div>
    {/each}
  </div>