.entity-info {
  width: 100%;
}

.entity-info-name-input {
  width: 100%;
}

.entity-info-name-clear-disabled {
  opacity: 0;
  pointer-events: none;
}

.entity-info-matches-loading {
  height: 1.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.5em;
  color: #aaa;
}

.entity-info-matches-loading-active {
  color: #000;
}

.entity-info-matches {
  box-sizing: border-box;
  max-height: calc(100vh - 8em);
  overflow: auto;
  transition: opacity 500ms ease-out;
  opacity: 1;
}

@media (max-width: 400px) {
  .entity-info-matches {
    max-height: calc(40vh);
  }
}

.entity-info-match-empty {
  margin: 1em 0;
}

.entity-info-match-instructions {
  margin-top: 0.5em;
  font-size: 0.8em;
  height: 70vh;
  display: flex;
  align-items: center;
}

.entity-info-match-spacer {
  margin-top: 0.5em;
  font-size: 0.8em;
  height: 70vh;
}

.entity-info-matches-replacing {
  opacity: 0.5;
}

.entity-info-match {
  width: 100%;
  position: relative;
  padding: 0.25em 0;

  & + * {
    margin-top: 0.25em;
  }
}

.entity-info-match-target {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: border-color 500ms ease-out;

  &:hover {
    border-color: var(--widgetBorderColor);
  }

  &:active {
    border-color: var(--buttonActiveColor);
  }
}

.entity-info-name {
  display: block;
  font-weight: 600;
  margin: 0.25em 0;
}

button.entity-info-edit {
  margin-left: 0.25em;
  vertical-align: baseline;
}

.entity-info-match-link {
  font-size: 0.8em;
  display: block;

  & a {
    display: inline-block;
    padding: 0.125em 0.125em 0.125em 0;
  }
}

.entity-info-section {
  display: block;
  font-size: 0.8em;
  margin: 0.25em 0;
  max-width: 100%;
}

.entity-info-title {
  font-weight: 600;
  margin-right: 0.5em;
}

.entity-info-alt-name,
.entity-info-formula {
  display: inline;

  &::after {
    content: '; ';
  }
}

.entity-info-organism-toggles {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entity-info-unassoc {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.25em;
}

.entity-info-notification {
  margin-bottom: 0.75em;
}
