.interaction-info {
  position: relative;
  box-sizing: border-box;
  padding: 0.25em;
  min-width: 300px;
  max-width: calc(100vw - 1.5em);
  width: 400px;
  max-height: 80vh;
  overflow: scroll;
}

.interaction-info-ro {
  width: 100vw;
}

.interaction-info-type-select-label {
  margin-top: 1em;
}

.interaction-info-type-select-label-dir {
  color: var(--fadedColor);
  margin-left: 0.5em;
}

textarea.interaction-info-description {
  width: 100%;
  height: 5em;
  resize: none;
  overflow: scroll;
}

.interaction-info-description-label,
.interaction-info-assoc-label {
  display: block;
  font-weight: bold;
  font-size: var(--smallFontSize);

  &:not(:first-child) {
    margin-top: 0.75em;
  }
}

.interaction-info-type-radio-indented {
  margin-left: 1.25em;
}

.interaction-info-assoc-radio-label {
  display: block;
}

.interaction-info-assoc-radioset-label {
  font-size: var(--smallFontSize);
  font-weight: bold;
}

.interaction-info-notification {
  margin-bottom: 0.5em;
}

.interaction-info-summary-text {
  font-weight: bold;
}

.interaction-info-edit {
  text-align: center;
  margin-top: 1em;

  & button {
    display: inline-block;
    height: auto;
  }
}

.interaction-info-carousel-title {
  font-weight: bold;
  margin-top: 1em;
}

.interaction-info-carousel {
  margin-left: -0.25em;
  margin-right: -0.25em;

  & .carousel-doc {
    border-color: #ccc;
  }

  & .carousel-pager {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
  }
}

.interaction-info-reld-papers-title {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
