.interaction-info {
  width: 100%;
}

.interaction-info-type-select-label {
  margin-top: 1em;
}

.interaction-info-type-select-label-dir {
  color: var(--fadedColor);
  margin-left: 0.5em;
}

textarea.interaction-info-description {
  width: 100%;
  height: 5em;
  resize: none;
  overflow: scroll;
}

.interaction-info-description-label,
.interaction-info-assoc-label {
  display: block;
  font-weight: bold;
  font-size: var(--smallFontSize);

  &:not(:first-child) {
    margin-top: 0.75em;
  }
}

.interaction-info-type-radio-indented {
  margin-left: 1.25em;
}

.interaction-info-assoc-radio-label {
  display: block;
}

.interaction-info-assoc-radioset-label {
  font-size: var(--smallFontSize);
  font-weight: bold;
}

.interaction-info-notification {
  margin-bottom: 0.5em;
}

.interaction-info-summary-text {
  font-weight: bold;
}

.interaction-info-edit {
  text-align: center;
  margin-top: 1em;
}
