/* tippy theme overrides */


.tippy-popper .tippy-tooltip {
  padding: 0;
  text-align: inherit;
}

.tippy-popper[x-placement^=top] .tippy-tooltip .tippy-arrow {
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  margin: 0 7px;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip .tippy-arrow {
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: -7px;
  margin: 0 7px;
}

.tippy-popper[x-placement^=left] .tippy-tooltip .tippy-arrow {
  border-left: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  right: -7px;
  margin: 4px 0;
}

.tippy-popper[x-placement^=right] .tippy-tooltip .tippy-arrow {
  border-right: 7px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  left: -7px;
  margin: 4px 0;
}

.tippy-popper .tippy-tooltip.light-theme {
  color: inherit;
  background-color: #fff;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow {
  border-top-color: #fff;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom-color: #fff;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow {
  border-left-color: #fff;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow {
  border-right-color: #fff;
}

.tippy-popper .tippy-tooltip.dark-theme {
  color: #fff;
  background-color: #333;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.dark-theme .tippy-arrow {
  border-top-color: #333;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.dark-theme .tippy-arrow {
  border-bottom-color: #333;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.dark-theme .tippy-arrow {
  border-left-color: #333;
}

.tippy-popper[x-placement^=right] .tippy-tooltip.dark-theme .tippy-arrow {
  border-right-color: #333;
}

.tippy,
.tippy-popper,
.tippy-tooltip {
  font-size: inherit;
}

.tippy-popper .tippy-tooltip {
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.2), 0 4px 80px -8px rgba(0, 20, 60, 0.3);
}

.tippy-popper {
  /*
   commented out to allow tooltips to be configured using custom zindex values
   z-index: 999999 !important;

  commented out to allow tooltips to be more easily aligned outside of full-screen views
  position: fixed !important;
  */
}
