.editor {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0.01;
  transition-duration: 300ms;
  transition-property: opacity;
  transition-timing-function: ease-out;
  overflow: auto;
}

.editor-initted {
  opacity: 1;
}

.editor-buttons,
.editor-main-menu {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-right-radius: 0.5em;
}

.editor-buttons {
  border-top-right-radius: 0.5em;
  top: 6em;
}

.editor-main-menu {
  top: 0;
  margin: 0.5em;
}

.editor-submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 1;
  padding: 0.75em 0.5em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
}

.editor-submit-button {
  font-weight: normal;
  text-transform: uppercase;

  &.submitted {
    background-color: var(--completeColor);
  }
}

.editor-share {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  z-index: 1;
  padding: 0.25em 0.5em;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 0.5em;
}

.editor-button-group {
  display: inline-flex;
  flex-direction: column;
}

.editor-button-group + .editor-button-group {
  margin-top: 2em;
}

.editor-menu {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 8px;
}

.editor-button {
  margin: 0.25em;
  width: 1.75em;
  height: 1.75em;
  font-size: 1.25em;
}

.editor-title {
  z-index: 1;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.editor-title-content {
  display: block;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.375em 0.5em;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  max-width: calc(100% - 10.5em);
  pointer-events: all;
  line-height: 1.5;
  margin: 0 auto;
}

.editor-title-name,
.editor-title-info > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.editor-title-info {
  font-size: var(--smallFontSize);

  & div {
    display: block;
  }
}

.editor-task-list-active {
  & .editor-branding {
    left: calc(50% - 11em);
    max-width: calc(100% - 32em);
  }
}

.editor-graph {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.editor-menu-content {
  min-width: 14em;
  max-width: 40em;
  width: 40vw;
  padding: 0.5em;
  padding-bottom: 0;
}

.editor-menu-tab-content {
  max-height: calc(100vh - 6em);
  overflow: auto;
}

.editor-menu-tab-title {
  display: inline-block;
  width: 100%;
  padding-bottom: 0.25em;
}

.editor-menu-content .popover-target {
  width: 100%;
}

.task-list-button {
  position: relative;
}

.num-tasks-indicator {
  position: absolute;
  top: -4px;
  right: 18px;
  font-size: 0.666em;
  color: white;
  background-color: #ed4a31;
  height: 15px;
  line-height: 15px;
  padding: 0 2px;
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
}

.editor-info-panel {
  position: absolute;
  box-sizing: border-box;
  padding: 0.5em;
  overflow: visible;
  z-index: 3;
  box-shadow: 0 0 2em 4px rgba(0, 0, 0, 0.25);
  background: #fff;
  top: 50%;
  bottom: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  width: auto;
  height: auto;
  min-height: 50%;
}

.editor-info-panel-selected-el {
  background: linear-gradient(to bottom, hsla(212, 85%, 90%, 1) 0, #fff 6em, #fff 0);
}

.editor-info-panel-selected-ent {
  & .entity-info {
    width: auto;
  }
}

.editor-read-only .editor-graph {
  right: 0;
  bottom: 50%;
}

.editor-explore-share {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  border-bottom-left-radius: 0.25em;

  & .native-share-icon {
    font-size: 1.5em;
  }
}

.editor-explore-share-twitter {
  position: fixed;
  left: 0;
  top: 2.75em;
  width: 2.25em;
  height: 2.25em;
  margin: 0.5em;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 1.5em;
  }
}

.editor-info-section-title {
  font-weight: bold;
  margin: 0.5em 0;
}

.editor-info-carousel-title {
  font-weight: bold;
}

.editor-info-carousel {
  margin-right: -0.5em;
  margin-left: -0.5em;
  padding-bottom: 1.5em;

  & .carousel-doc {
    border-color: #ccc;
  }

  & .carousel-pager {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
  }

  & .carousel-pager-icon {
    text-shadow: 0 0 4px #fff;
  }
}

.editor-info-main-section + .editor-info-main-section {
  margin-top: 2em;
}

.editor-info-title {
  font-size: 1.5em;
}

.editor-info-authors {
  margin: 0.5em 0;
}

.editor-info-author + .editor-info-author {
  &::before {
    content: ', ';
  }
}

.editor-info-links {
  margin: 1.5em 0;
  line-height: 1.4;
}

.editor-info-link {
  display: inline-block;
  margin-right: 1em;
}

.editor-info-abstract-content {
  line-height: 1.5;
}

.editor-info-panel-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 3em;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #666;
  z-index: 10;
}

.editor-info-panel-close-icon {
  font-size: 3em;
}

@media (min-width: 1000px) {
  .editor-info-panel {
    padding: 1em;
  }

  .editor-info-main-sections {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .editor-info-main-section,
  .editor-info-main-section + .editor-info-main-section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .editor-info-main-sections .related-papers {
    grid-template-columns: 1fr 1fr;
  }

  .editor-info-abstract-section {
    width: 50%;
    box-sizing: border-box;
    padding-right: 2em;
  }

  .editor-info-related-papers-section {
    flex: 1 1;
  }
}
