.editor {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.01;
  transition-duration: 300ms;
  transition-property: opacity;
  transition-timing-function: ease-out;
  overflow-x: hidden;
}

.editor-initted {
  opacity: 1;
}

.editor-buttons {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-right-radius: 8px;
  border: 1px solid #767676;
  border-top: 0;
  border-left: 0;
}

.editor-buttons-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 8px;
  transform: translate3d(0, 0, 0);
  transition: transform 200ms ease-out;
  border: 1px solid #767676;
  border-top: 0;
  border-right: 0;
}

.editor-buttons-right-shifted {
  transform: translate3d(-21.5em, 0, 0);
  transition: transform 200ms ease-out;
}

.editor-button-group {
  display: inline-flex;
  flex-direction: column;
}

.editor-button-group + .editor-button-group {
  margin-top: 2em;
}

.editor-menu {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 8px;
}

.editor-button {
  margin: 0.25em;
  width: 1.75em;
  height: 1.75em;
  font-size: 1.25em;
}

.editor-graph {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate3d(0, 0, 0);
  transition: transform 200ms ease-out;

}

.editor-graph-shifted {
  transform: translate3d(-21.5em, 0, 0);
  transition: transform 200ms ease-out;
}

.editor-menu-content {
  min-width: 14em;
  max-width: 40em;
  width: 40vw;
  padding: 0.5em;
  padding-bottom: 0;
}

.editor-menu-tab-content {
  max-height: calc(100vh - 6em);
  overflow: auto;
}

.editor-menu-tab-title {
  display: inline-block;
  width: 100%;
  padding-bottom: 0.25em;
}

.editor-menu-content .popover-target {
  width: 100%;
}

.editor-linkout {
  min-width: 14em;
  max-width: 40em;
  width: 40vw;
  padding: 0.25em;

  & .document-linkout-address-name:first-child {
    margin-top: 0;
  }

  & .document-linkout-address:last-child .document-linkout-address-val {
    margin-bottom: 0;
  }
}

.task-list-button {
  position: relative;
}

.num-tasks-indicator {
  position: absolute;
  top: -4px;
  left: 18px;
  font-size: 0.666em;
  color: white;
  background-color: #ed4a31;
  height: 15px;
  line-height: 15px;
  padding: 0 2px;
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
}

.editor-more-menu {
  padding: 0.25em;
}

.editor-more-menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editor-more-button {
  width: 100%;
  text-align: left;
  margin: 0.25em 0;
}
