.interaction-info {
  width: 100%;
}

.interaction-info-type-select {
  width: 100%;
  margin-bottom: 1em;
}

textarea.interaction-info-description {
  width: 100%;
  height: 5em;
  resize: none;
  overflow: scroll;
}

.interaction-info-description-label,
.interaction-info-type-select-label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
}
