.interaction-info {
  width: 100%;
}

.interaction-info-type-select {
  width: 100%;
}

.interaction-info-type-select-label {
  margin-top: 1em;
}

.interaction-info-type-select-label-dir {
  color: var(--fadedColor);
  margin-left: 0.5em;
}

textarea.interaction-info-description {
  width: 100%;
  height: 5em;
  resize: none;
  overflow: scroll;
}

.interaction-info-description-label,
.interaction-info-type-select-label {
  display: block;
  font-weight: bold;
  font-size: var(--smallFontSize);
}

.interaction-info-type-select,
.interaction-info-type-text {
  font-size: var(--smallFontSize);
}

.interaction-info-type-text {
  margin-top: 0.333em;
}
