@font-face {
    font-family: 'Iconic';
    src: url('fonts/iconic/iconic_fill-iconic.eot');
    src: url('fonts/iconic/iconic_fill-iconic.eot?#iefix') format('embedded-opentype'),
         url('fonts/iconic/iconic_fill-iconic.woff') format('woff'),
         url('fonts/iconic/iconic_fill-iconic.ttf') format('truetype'),
         url('fonts/iconic/iconic_fill-iconic.svg#Untitled1Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ui-icon-iconic {
	display: inline-block;
	font-family: 'Iconic' !important;
	background-image: none !important;
	height: 16px;
	width: 16px;
	font-size: 10px;
	line-height: 1;
	text-align: center;
	text-indent: 0 !important;
}

.ui-icon-iconic.hash:before {
	content: '\23';
}

.ui-icon-iconic.question_mark:before {
	content: '\3f';
}

.ui-icon-iconic.at:before {
	content: '\40';
}

.ui-icon-iconic.pilcrow:before {
	content: '\b6';
}

.ui-icon-iconic.info:before {
	content: '\2139';
}

.ui-icon-iconic.arrow_left:before {
	content: '\2190';
}

.ui-icon-iconic.arrow_up:before {
	content: '\2191';
}

.ui-icon-iconic.arrow_right:before {
	content: '\2192';
}

.ui-icon-iconic.arrow_down:before {
	content: '\2193';
}

.ui-icon-iconic.home:before {
	content: '\2302';
}

.ui-icon-iconic.sun_fill:before {
	content: '\2600';
}

.ui-icon-iconic.cloud:before {
	content: '\2601';
}

.ui-icon-iconic.umbrella:before {
	content: '\2602';
}

.ui-icon-iconic.star:before {
	content: '\2605';
}

.ui-icon-iconic.moon_fill:before {
	content: '\263e';
}

.ui-icon-iconic.heart_fill:before {
	content: '\2764';
}

.ui-icon-iconic.cog:before {
	content: '\2699';
}

.ui-icon-iconic.bolt:before {
	content: '\26a1';
}

.ui-icon-iconic.key_fill:before {
	content: '\26bf';
}

.ui-icon-iconic.rain:before {
	content: '\26c6';
}

.ui-icon-iconic.denied:before {
	content: '\26d4';
}

.ui-icon-iconic.mail:before {
	content: '\2709';
}

.ui-icon-iconic.pen:before {
	content: '\270e';
}

.ui-icon-iconic.check:before {
	content: '\2713';
}

.ui-icon-iconic.check_alt:before {
	content: '\2714';
}

.ui-icon-iconic.ui-icon-iconic-close:before,
.ui-icon-iconic.x:before {
	content: '\2717';
}

.ui-icon-iconic.x_alt:before {
	content: '\2718';
}

.ui-icon-iconic.left_quote:before {
	content: '\275d';
}

.ui-icon-iconic.right_quote:before {
	content: '\275e';
}

.ui-icon-iconic-plusthick:before,
.ui-icon-iconic.plus:before {
	content: '\2795';
}

.ui-icon-iconic.minus:before {
	content: '\2796';
}

.ui-icon-iconic.curved_arrow:before {
	content: '\2935';
}

.ui-icon-iconic.document_alt_fill:before {
	content: '\e000';
}

.ui-icon-iconic.calendar:before {
	content: '\e001';
}

.ui-icon-iconic.map_pin_alt:before {
	content: '\e002';
}

.ui-icon-iconic.comment_alt1_fill:before {
	content: '\e003';
}

.ui-icon-iconic.comment_alt2_fill:before {
	content: '\e004';
}

.ui-icon-iconic.pen_alt_fill:before {
	content: '\e005';
}

.ui-icon-iconic.pen_alt2:before {
	content: '\e006';
}

.ui-icon-iconic.chat_alt_fill:before {
	content: '\e007';
}

.ui-icon-iconic.plus_alt:before {
	content: '\e008';
}

.ui-icon-iconic.minus_alt:before {
	content: '\e009';
}

.ui-icon-iconic.bars_alt:before {
	content: '\e00a';
}

.ui-icon-iconic.book_alt:before {
	content: '\e00b';
}

.ui-icon-iconic.aperture_alt:before {
	content: '\e00c';
}

.ui-icon-iconic.beaker_alt:before {
	content: '\e010';
}

.ui-icon-iconic.left_quote_alt:before {
	content: '\e011';
}

.ui-icon-iconic.right_quote_alt:before {
	content: '\e012';
}

.ui-icon-iconic.arrow_left_alt1:before {
	content: '\e013';
}

.ui-icon-iconic.arrow_up_alt1:before {
	content: '\e014';
}

.ui-icon-iconic.arrow_right_alt1:before {
	content: '\e015';
}

.ui-icon-iconic.arrow_down_alt1:before {
	content: '\e016';
}

.ui-icon-iconic.arrow_left_alt2:before {
	content: '\e017';
}

.ui-icon-iconic.arrow_up_alt2:before {
	content: '\e018';
}

.ui-icon-iconic.arrow_right_alt2:before {
	content: '\e019';
}

.ui-icon-iconic.arrow_down_alt2:before {
	content: '\e01a';
}

.ui-icon-iconic.brush:before {
	content: '\e01b';
}

.ui-icon-iconic.brush_alt:before {
	content: '\e01c';
}

.ui-icon-iconic.eyedropper:before {
	content: '\e01e';
}

.ui-icon-iconic.layers:before {
	content: '\e01f';
}

.ui-icon-iconic.layers_alt:before {
	content: '\e020';
}

.ui-icon-iconic.compass:before {
	content: '\e021';
}

.ui-icon-iconic.award_fill:before {
	content: '\e022';
}

.ui-icon-iconic.beaker:before {
	content: '\e023';
}

.ui-icon-iconic.steering_wheel:before {
	content: '\e024';
}

.ui-icon-iconic.eye:before {
	content: '\e025';
}

.ui-icon-iconic.aperture:before {
	content: '\e026';
}

.ui-icon-iconic.image:before {
	content: '\e027';
}

.ui-icon-iconic.chart:before {
	content: '\e028';
}

.ui-icon-iconic.chart_alt:before {
	content: '\e029';
}

.ui-icon-iconic.target:before {
	content: '\e02a';
}

.ui-icon-iconic.tag_fill:before {
	content: '\e02b';
}

.ui-icon-iconic.rss:before {
	content: '\e02c';
}

.ui-icon-iconic.rss_alt:before {
	content: '\e02d';
}

.ui-icon-iconic.share:before {
	content: '\e02e';
}

.ui-icon-iconic.undo:before {
	content: '\e02f';
}

.ui-icon-iconic.reload:before {
	content: '\e030';
}

.ui-icon-iconic.reload_alt:before {
	content: '\e031';
}

.ui-icon-iconic.loop_alt1:before {
	content: '\e032';
}

.ui-icon-iconic.loop_alt2:before {
	content: '\e033';
}

.ui-icon-iconic.loop_alt3:before {
	content: '\e034';
}

.ui-icon-iconic.loop_alt4:before {
	content: '\e035';
}

.ui-icon-iconic.spin:before {
	content: '\e036';
}

.ui-icon-iconic.spin_alt:before {
	content: '\e037';
}

.ui-icon-iconic.move_horizontal:before {
	content: '\e038';
}

.ui-icon-iconic.move_horizontal_alt1:before {
	content: '\e039';
}

.ui-icon-iconic.move_horizontal_alt2:before {
	content: '\e03a';
}

.ui-icon-iconic.move_vertical:before {
	content: '\e03b';
}

.ui-icon-iconic.move_vertical_alt1:before {
	content: '\e03c';
}

.ui-icon-iconic.move_vertical_alt2:before {
	content: '\e03d';
}

.ui-icon-iconic.move:before {
	content: '\e03e';
}

.ui-icon-iconic.move_alt1:before {
	content: '\e03f';
}

.ui-icon-iconic.move_alt2:before {
	content: '\e040';
}

.ui-icon-iconic.transfer:before {
	content: '\e041';
}

.ui-icon-iconic.download:before {
	content: '\e042';
}

.ui-icon-iconic.upload:before {
	content: '\e043';
}

.ui-icon-iconic.cloud_download:before {
	content: '\e044';
}

.ui-icon-iconic.upload:before,
.ui-icon-iconic.cloud_upload:before {
	content: '\e045';
}

.ui-icon-iconic.fork:before {
	content: '\e046';
}

.ui-icon-iconic.play:before {
	content: '\e047';
}

.ui-icon-iconic.play_alt:before {
	content: '\e048';
}

.ui-icon-iconic.pause:before {
	content: '\e049';
}

.ui-icon-iconic.stop:before {
	content: '\e04a';
}

.ui-icon-iconic.eject:before {
	content: '\e04b';
}

.ui-icon-iconic.first:before {
	content: '\e04c';
}

.ui-icon-iconic.last:before {
	content: '\e04d';
}

.ui-icon-iconic.fullscreen:before {
	content: '\e04e';
}

.ui-icon-iconic.fullscreen_alt:before {
	content: '\e04f';
}

.ui-icon-iconic.fullscreen_exit:before {
	content: '\e050';
}

.ui-icon-iconic.fullscreen_exit_alt:before {
	content: '\e051';
}

.ui-icon-iconic.equalizer:before {
	content: '\e052';
}

.ui-icon-iconic.article:before {
	content: '\e053';
}

.ui-icon-iconic.read_more:before {
	content: '\e054';
}

.ui-icon-iconic.list:before {
	content: '\e055';
}

.ui-icon-iconic.list_nested:before {
	content: '\e056';
}

.ui-icon-iconic.cursor:before {
	content: '\e057';
}

.ui-icon-iconic.dial:before {
	content: '\e058';
}

.ui-icon-iconic.new_window:before {
	content: '\e059';
}

.ui-icon-iconic.trash_fill:before {
	content: '\e05a';
}

.ui-icon-iconic.battery_half:before {
	content: '\e05b';
}

.ui-icon-iconic.battery_empty:before {
	content: '\e05c';
}

.ui-icon-iconic.battery_charging:before {
	content: '\e05d';
}

.ui-icon-iconic.chat:before {
	content: '\e05e';
}

.ui-icon-iconic.mic:before {
	content: '\e05f';
}

.ui-icon-iconic.movie:before {
	content: '\e060';
}

.ui-icon-iconic.headphones:before {
	content: '\e061';
}

.ui-icon-iconic.user:before {
	content: '\e062';
}

.ui-icon-iconic.lightbulb:before {
	content: '\e063';
}

.ui-icon-iconic.cd:before {
	content: '\e064';
}

.ui-icon-iconic.folder_fill:before {
	content: '\e065';
}

.ui-icon-iconic.document_fill:before {
	content: '\e066';
}

.ui-icon-iconic.pin:before {
	content: '\e067';
}

.ui-icon-iconic.map_pin_fill:before {
	content: '\e068';
}

.ui-icon-iconic.book:before {
	content: '\e069';
}

.ui-icon-iconic.book_alt2:before {
	content: '\e06a';
}

.ui-icon-iconic.box:before {
	content: '\e06b';
}

.ui-icon-iconic.calendar_alt_fill:before {
	content: '\e06c';
}

.ui-icon-iconic.comment_fill:before {
	content: '\e06d';
}

.ui-icon-iconic.iphone:before {
	content: '\e06e';
}

.ui-icon-iconic.bars:before {
	content: '\e06f';
}

.ui-icon-iconic.camera:before {
	content: '\e070';
}

.ui-icon-iconic.volume_mute:before {
	content: '\e071';
}

.ui-icon-iconic.volume:before {
	content: '\e072';
}

.ui-icon-iconic.battery_full:before {
	content: '\e073';
}

.ui-icon-iconic.magnifying_glass:before {
	content: '\e074';
}

.ui-icon-iconic.lock_fill:before {
	content: '\e075';
}

.ui-icon-iconic.unlock_fill:before {
	content: '\e076';
}

.ui-icon-iconic.link:before {
	content: '\e077';
}

.ui-icon-iconic.wrench:before {
	content: '\e078';
}

.ui-icon-iconic.clock:before {
	content: '\e079';
}
