<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/mvc
		 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
         http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
     	 http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
         ">

	<context:annotation-config />

	<!-- upload set up -->

	<!-- Configure the multipart resolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000"/>
    </bean>

	<!-- ehcache set up -->

	<ehcache:annotation-driven cache-manager="ehCacheManager" />

	<bean id="ehCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />

	<!-- Services -->

	<bean id="normalizationService" class="org.factoid.service.NormalizationService"/>
	<bean id="paperService" class="org.factoid.service.PaperService"/>

	<!-- Controllers -->

	<bean id="cytowebController" class="org.factoid.controller.json.CytowebController">
		<property name="mapper" ref="jsonObjectMapper" />
	</bean>
	
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>
	
	<bean id="i18nController" class="org.factoid.controller.json.I18nController">
		<property name="localeResolver" ref="localeResolver" />
	</bean>

	<!-- JSON objects -->

	<bean id="jsonObjectMapper" class="org.factoid.model.cytoweb.mapper.ObjectMapper">
	</bean>

	<!-- Version definition -->

	<bean id="appVersion" class="java.lang.String">
		<constructor-arg>
			<value>${version}</value>
		</constructor-arg>
	</bean>

	<!-- should be last -->
	<mvc:annotation-driven />

</beans>
