<?xml version="1.0" encoding="UTF-8"?>
<web-app id="factoid" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- Meta data -->
	<display-name>Factoid</display-name>
	<description>Factoid Web Site</description>

	<!-- UrlRewriteFilter -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Spring MVC Configuration -->
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RestJSONSpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/public-html/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestJSONSpringMVC</servlet-name>
		<url-pattern>/json/*</url-pattern>
	</servlet-mapping>



	<!-- Spring Context Configuration -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml</param-value>
	</context-param>

	<!-- Error pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/http_error.do?type=404</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/http_error.do?type=405</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/http_error.do?type=400</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/http_error.do?type=500</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/http_error.do?type=500</location>
	</error-page>

</web-app>