/* added this to make animations faster */
.animation-speed-fast {
	-webkit-animation-duration: 0.125s;
	   -moz-animation-duration: 0.125s;
	    -ms-animation-duration: 0.125s;
	     -o-animation-duration: 0.125s;
	        animation-duration: 0.125s;
}

.animation-speed-medium {
	-webkit-animation-duration: 0.35s;
	   -moz-animation-duration: 0.35s;
	    -ms-animation-duration: 0.35s;
	     -o-animation-duration: 0.35s;
	        animation-duration: 0.35s;
}

.animation-speed-slow {
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	    -ms-animation-duration: 0.5s;
	     -o-animation-duration: 0.5s;
	        animation-duration: 0.5s;
}

.not-animated {
	transition: all 0 none !important;
	-moz-transition: all 0 none !important;
	-webkit-transition: all 0 none !important;
	-o-transition: all 0 none !important;
	-ms-transition: all 0 none !important;
	-webkit-animation-fill-mode: none !important;
	   -moz-animation-fill-mode: none !important;
	    -ms-animation-fill-mode: none !important;
	     -o-animation-fill-mode: none !important;
	        animation-fill-mode: none !important;
    -webkit-animation-duration: 0s;
	   -moz-animation-duration: 0s;
	    -ms-animation-duration: 0s;
	     -o-animation-duration: 0s;
	        animation-duration: 0s;
}
