@infoWidth: 23em;

body {
	padding: 0;
}

#logo-link {
	display: none;
	position: absolute;
	width: 7.5em;
	z-index: 999;
	right: @infoWidth + 0.5em;
	top: 0.75em;
	background: rgba(255, 255, 255, 0.66);
	box-shadow: 0 0 0.25em 0.25em #fff;
	border-radius: 1em !important;

	a {
		color: #888 !important;
		padding: 0.5em;
		border-radius: 1em;

		.o {
			background: #888 !important;
		}

		&:active {
			background: rgba(0, 0, 0, 0.5);
			color: #fff !important;

			.o {
				background-color: #fff !important;
			}
		}
	}
}

.delete-all {
	font-size: 0.8em;

	* { display: inline-block; }
	.label { font-size: 0.8em; display: none }
	.icon-1, .icon-2, .icon-3 { margin-left: -0.25em; display: inline-block; position: relative; }
	.icon-1 { top: -0.25em; }
	.icon-3 { top: 0.25em; }
}

#info {
	position: absolute;
	width: @infoWidth;
	right: 0;
	top: 0;
	z-index: 1;
	bottom: 0;
	overflow: hidden;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: @bg;
}

#graph {
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: @infoWidth;
	height: auto;
	width: auto;
	z-index: 0;
	background: #fff;
	box-shadow: inset 0 0 0.75em rgba(0, 0, 0, 0.25);
	border: 1px solid #d5d5d5;
}

.button-panel {
	padding: 0.125em;
	text-align: center;

	button {
		margin: 0.125em;
		position: relative;
	}

	#textmining-button {
		.alert-bubble { display: none; }

		&.have-entities {
			.alert-bubble { display: block; }
		}
	
	}
}

.ui-cytoscape-panzoom {
	top: 5em;
	left: 0.85em;
}

.extendo {
	font-size: 1.125em;

	.extendo-item {
		padding: 0 0.375em !important;
		margin: 0 0.125em !important;
		position: relative;
	}

	label {
		font-size: 0.5em;
		width: 100%;
		position: absolute;
		top: -1.333em;
		left: 0;
		display: block;
		//background: rgba(200, 200, 200, 0.8);
		line-height: 1;
		color: #000;
		font-weight: 200;
		border-radius: 0.25em;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.extendo .factoid-logo {
	font-weight: bold;
}

#extendo-fit span {
	display: inline-block;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); /* IE 9 */
	-moz-transform:rotate(-45deg); /* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
	-o-transform:rotate(-45deg); /* Opera */
}

#ui-loading-overlay {
	.not-animated;

	display: table;

	&.ui-loaded-true {
		display: none !important;
	}

	&.fade-out {
		.animated;
		.animation-speed-medium;
		.fadeOut;
	}

	background: #fff;

	.overlay-popup {
		& > span {
			font-size: 2em;
		}
	}

	.factoid-logo {
		display: none;
		color: #fff;

		.o {
			background-color: #fff;
		}
	}
}

body.loaded #ui-loading-overlay {
	display: none;
}

#extendo-add {
	width: 1.75em;
}