@boxPadding: 0.5em;
@linkColor: #0094d6;
@borderColor: #cacaca;

.entities {
	.entity,
	.interaction {
		border: 1px solid @borderColor;
		padding: @boxPadding/4 @boxPadding;
		position: relative;

		[class^="icon-"],
		[class*=" icon-"] {
			cursor: pointer;
			display: inline-block;
			color: #666;
		}
	}

	.entity {
		border-radius: 1em;
	}

	.icons {
		float: right;
		
		& > span {
			margin-left: 0.5em;
		}
	}

	.name {
		margin: 0 @boxPadding/2;
	}
}

#entities-list {
	.entities;

	.entity-instance {
		margin: @boxPadding/2;

		&.highlighted {
			@colour: #fdb722;
			border-color: @colour;
			background-color: lighten(@colour, 35%);
		}
	}

	.participants-list {
		font-size: 0.8em;
		margin: 0 @boxPadding*2.1 0 @boxPadding*3;
		padding-bottom: @boxPadding/2;

		.icons,
		.icons * {
			font-size: 1.125em;
			line-height: 1.125em;
		}

		.participant + .participant {
			margin-top: @boxPadding/2;
		}
	}

	.add-participants-list {
		display: none;
	}

	.info {
		margin: 0.25em 0.5em;
	}
}

.add-participants-list {
	.entities;

	.participant + .participant {
		margin-top: 0.25em;
	}

	.adders {
		float: right;
		margin-left: 0.5em;

		button {
			font-size: 0.8em;
		}
	}

	.no-entities-message {
		font-size: 0.8em;
	}

}