@boxPadding: 0.5em;
@linkColor: #0094d6;
@borderColor: #cacaca;

.organism-icon {
	height: 5em;
	width: 5em;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	opacity: 0.125;
	background: transparent !important;
}

.entities {
	.entity,
	.interaction {
		border: 1px solid @borderColor;
		padding: @boxPadding/4 @boxPadding/2;
		position: relative;

		[class^="icon-"],
		[class*=" icon-"] {
			display: inline-block;
		}

		clear: both;
	}

	.entity {
		border-radius: 1em;
	}

	.moving-down-true {
		.animated;
		.fadeOutDownBig;
		position: absolute;
	}

	.just-added-true {
		//.animated;
		//.animation-speed-medium;
		//.fadeIn;
	}

	.icons {
		color: #666;
		float: right;
		
		button + button {
			margin-left: 0.5em;
		}
	}

	.name {
		margin: 0 @boxPadding/2;

		input {
			margin-top: -1px;
			margin-left: -1px;
			display: inline-block;
			width: 13.25em;
		}
	}

	.interaction .name {
		width: 14em;
		display: inline-block;
	}

	.interaction .edit {
		visibility: hidden;
	}

	.edit {
		color: #666;

		&.associated-true {
			
		}
	}

	.entity-instance {
		margin: @boxPadding/2;
		@colour: #fdb722;

		&.selected-true {
			//border-color: lighten(@colour, 15%);
		}

		&.selected-true .selection-indicator {
			height: 1.85em;
			position: absolute;
			left: -0.35em;
			top: -0.0625em;
			background: @colour;
			width: 0.25em;
			border-radius: 1em;
			//display: none;
		}
	}

	.add-participants-popover {
		right: 0;
		margin-left: 1.25em;
		margin-right: 1.25em;
		margin-bottom: 0.5em;
		padding: 0 0.75em;

		.arrow {
			margin-left: 6.5em;
		}

		.participant {
			margin: @boxPadding 0;
			padding: 0;
		}

		.name {
			margin-left: 0.5em;
		}

		.icons,
		.icons * {
			line-height: 0.8;
		}
	}

	.participants-list {
		font-size: 0.8em;
		margin: 0 2.9em 0 2.75em;

		.participant {
			padding: 0;
		}

		.participant + .participant {
			margin: @boxPadding 0;
		}

		.name {
			margin-left: 0.5em;
		}

		.icons,
		.icons * {
			font-size: 1.125em;
			line-height: 0.8;
		}

		.small-title {
			margin-top: 0.5em;
			margin-bottom: 0.25em;
		}
	}

	.association-popover {
		.arrow {
			left: 3em;
		}

		margin-bottom: 0.5em;

		.popover-alert {
			margin-top: -0em;
			margin-bottom: 0.75em;
		}
	}

	.entity-info-button {
		text-align: center;
		line-height: 1;
		display: block;
		position: relative;
		width: 100%;

		.small {
			font-size: 0.8em;
		}

		.name {
			margin-top: 0.125em;
			text-align: center;
		}

		.full-name {
			font-size: 0.6em;
			display: block;
			margin-bottom: 0.5em;
		}

		.meta {
			text-align: left;
		}

		.organism,
		.type {
			.small;
			.meta;
		}
	}

	.entity-info {

		.summary {
			.entity-info-button;
			border: 1px dashed #bbb;
			border-radius: 0.25em;
			width: auto;
			padding: 0.25em;
		}

		.link-area {
			font-size: 0.8em;
		}

		.function {
			margin-top: 0.5em;
		}

		&.loading {
			height: 1.5em;
			background-image: url('/img/small-loader-white-bg.gif');
			background-position: left center;
			background-repeat: no-repeat;
			padding-left: 24px;

			&:after {
				content: 'Loading...';
			}
		}
	}

	.specify {
		position: relative;
	}

	&.associated-true .specify {
		display: none;
	}

	.association-ui .loading-message {
		font-size: 0.8em;

		.loading-spinner-icon {
			position: relative;
			top: 0.125em;
		}
	}

	.associations {
		position: relative;
		overflow: auto;
		padding: 0 0.25em;

		.associate-button {
			.entity-info-button;
			overflow: hidden;
		}

		.associate-button {
			margin: 0.25em 0;
		}
	}

	.loading {
		.text-clear-icon {
			display: none;
		}

		.name-input {
			background-image: url('/img/small-loader-white-bg.gif');
			background-position: right center;
			background-repeat: no-repeat;
		}

		.associations {
			display: none;
		}

		.info {
			display: none;
		}
	}

	.associated-info-ui {
		padding: 0.25em;
		overflow: auto;

		h3 {
			display: inline-block;
			margin-right: 0.25em;
			margin-top: 0.5em;

			&:after {
				content: ' : ';
			}
		}

		.text {
			font-size: 0.8em;
		}
	}
}

#entities-list {
	.entities;

	.info {
		margin: 0.25em 0;
	}

	& > .info {
		margin: 0.25em 0.5em;
	}
}

.add-participants-list {
	.entities;

	font-size: 0.8em;

	.participant + .participant {
		margin-top: 0.25em;
	}

	.icons {
		margin-left: 0.5em;
		font-size: 1.125*1.125em;
		line-height: 1.125*1.125em;
	}

	.info {
		font-size: 1em;
	}

}