#info .textmining-popover {
	text-align: left;

	margin-left: 0.25em;
	margin-right: 0.25em;
	margin-bottom: 1em;
	margin-top: 0.5em;

	& > .arrow {
		margin-left: -6.5em;
	}
}

#textmining-input {
	.buttons {
		text-align: right;
	}

	.no-entities-message {
		display: none;
	}

	#textmining-text {
		display: block;
		font-size: 0.8em;
		width: 100%;
		min-height: 10em;
		margin: 0.25em 0 0.5em 0;
	}

	.alert {
		display: none;
		margin: 0 0 0.5em 0;
	}

	.textmining-info {
		display: none;
		position: absolute;
		top: 2em;
		left: -19.75em;
		width: 18em;
	}

	&.no-results .alert {
		display: block;
	}

	.examples {
		font-size: 0.8em;
		margin: 0.5em 0;
	}
}